{% extends "base.html" %}

{% block title %}Scrabble{% endblock %}

{% block main %}

<div>
    <h1>Scrabble</h1>
    <div class='board_and_words'>
        <div class="board"></div>
        <div class="found_words">
            <div class="found_words_header"></div>
            <div class="found_words_list"></div>
        </div>
    </div>
    <div class="form_container">
        <button class="button" id='across_btn'>Play Across</button>
        <button class="button" id='down_btn'>Play Down</button>
        <form class='user_letters' onsubmit="return false"> 
            <label for='letters'>Your letters: </label>
            <input type="text" id='letters' maxlength="15"/>
        </form>
    </div>
</div>

{% endblock %}

